<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}
这是一个帮助大家方便吃到午餐的平台。<br>
大家苦于挤不进的电梯和快餐店门口大排的长龙，<br>
吃中饭也是都蛮拼的。<br>
为了我宇宙和平，<br>
为了黑锅不会落在行政部萌妹子们的身上，<br>
我自掏腰包，花了几天睡觉时间搭了 Weat<br>
<br>
Weat = We eat together！<br>
希望大家吃的开心！<br>
<br>
<br>
以前从没接触过web框架，所以难免会有很多bug，<br>
有什么问题或指教，欢迎去我的公众号交流讨论哈！<br>
<br>
我的公众号：DroneView<br>
长按扫码可关注
<img src="/static/img/qr_droneview.jpg" class="img-polaroid" style="margin:2px;" />
<br>
<br>
欢迎打赏：
<img src="/static/img/qr_donate.jpg" class="img-polaroid" style="margin:2px;" />
{% endblock %}