<!DOCTYPE html>
<html>
<head>
    {% if title %}
    <title>{{title}} - Weat</title>
    {% else %}
    <title>Weat</title>
    {% endif %}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <!--<link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">-->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <!--<script type=text/javascript>-->
    <!--var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};-->
    <!--</script>-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/"><b>Weat</b></a>
            <ul class="nav navbar-nav">

                {% if g.user.is_authenticated %}
                <li><a href="{{ url_for('order_add') }}">新建订单</a></li>
                <li><a href="{{ url_for('user', nickname=g.user.nickname) }}">我的信息</a></li>


                {% endif %}
            </ul>

            <div class="nav-collapse in collapse" style="height: auto;">
            </div>

            <div class="nav-collapse">
                <ul class="nav">
                    {% if g.user.is_authenticated %}
                    <li><a href="{{ url_for('orders') }}">订单们</a></li>

                    <li><a href="{{ url_for('food_add') }}">Add food</a></li>
                    <li><a href="{{ url_for('logout') }}">注销</a></li>
                    <!--<li><a href="{{ url_for('food_add') }}">Add food</a></li>-->
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="main" class="main-container container">
    <!--<div class="container">-->
    <div class="row">
        <div class="span12">
            {% block content %}{% endblock %}
        </div>
    </div>
    <!--</div>-->
</div>
all rights reserved.
<div class="pull-right">

    <a href="/about_me">
        about me | 关于我
    </a>
</div>
</body>
</html>