<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}
<h3>Add new food</h3>
<form action="" method="post" name="signup">
    {{ form.hidden_tag() }}
    <p>
        food name:<br>
        {{ form.name }}
        {% for error in form.name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
        price:<br>
        {{ form.price }}
        {% for error in form.price.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
    </p>
    <p><input type="submit" value="Add"></p>
</form>
{% endblock %}
