<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

{% include 'flash.html' %}
<h3>Hi, {{ g.user.nickname }}! 今天吃点啥？</h3>
<a href="/order_add">
    <div class="well">
        <center><h3>点这里 来份沙拉</h3></center>
    </div>
</a>

<!--<a href="/pay">-->
<!--<div class="well">-->
<!--<center><h3>测试：Pay Me!</h3></center>-->
<!--</div>-->
<!--</a>-->
<h3>瞅瞅伙伴们都点了啥 -_-↓</h3>
{% for order in orders %}
{% for salad in order.salads %}
<form action="" method="post" name="order_add">
    <div class="well well-large">
        <font size="5"><b>
            {{ order.customer.nickname }}</b> </font>点了一份沙拉:
            <i>{{ moment(order.timestamp).fromNow() }}</i>
        <br>
        <br>

        {% for food in salad.foods %}
        {{ food.name }}
        {% endfor %}

        <button class="pull-right" type="submit" name="copy" value={{salad.id}}>我也来一份</button>

    </div>
</form>
{% endfor %}
{% endfor %}
<ul class="pager">
    <!--{% if orders.has_prev %}-->
    <!--<li class="previous"><a href="{{ url_for('index', page=orders.prev_num) }}">Newer orders</a></li>-->
    <!--{% else %}-->
    <!--<li class="previous disabled"><a href="#">Newer orders</a></li>-->
    <!--{% endif %}-->
    <!--{% if orders.has_next %}-->
    <!--<li class="next"><a href="{{ url_for('index', page=orders.next_num) }}">Older orders</a></li>-->
    <!--{% else %}-->
    <!--<li class="next disabled"><a href="#">Older orders</a></li>-->
    <!--{% endif %}-->
</ul>


{% endblock %}