<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}
下面是今天中午的订单：
<form action="" method="post" name="delete">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>序号</th>
            <th>顾客</th>
            <th>楼层</th>
            <th>价格</th>
            <th>沙拉</th>
        </tr>
        </thead>
        {% for order in orders %}
        <tr class="success">
            <td>{{order.id}}</td>
            <td>{{order.customer.nickname}}</td>
            <td>{{order.customer.floor}}</td>
            <td>{{order.price}}</td>
            {% for salad in order.salads %}
            <td>
                {% for food in salad.foods %}
                {{food.name}}
                {% endfor %}
            </td>
            <!--<td>-->
                <!--<td><button type="submit" name="remove" value="{{salad.id}}" />取消</td>-->
            <!--</td>-->
            {% endfor %}
            <!--<td></td>-->
        </tr>
        {% endfor %}
    </table>
    </p>

</form>
{% endblock %}