<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}
<h3>确认订单</h3>
自选沙拉的标准组合：<br>
1份底菜 + 3种素类 + 2种肉类 = 25元~<br>
午餐：每天上午10点前下单，晚餐：每天下午3点前下单

{% for order in orders %}
<div class="well">
    <form action="" method="post" name="order_add">
        <!--现在时间：{{ moment().format('MMMM Do YYYY, h:mm:ss a') }}-->
        <table class="table table-condensed table-hover">
            <thead>
            <tr>
                <!--<th>id</th>-->
                <th>名称 Name</th>
                <th>单价 Price</th>
            </tr>
            </thead>

            {% for salad in order.salads %}
            {% for food in salad.foods %}
            <tr class="success">
                <!--<td>{{food.id}}</td>-->
                <td>{{food.name}}</td>
                <td>{{food.price}}</td>
                <td>

                </td>
            </tr>
            {% endfor %}
            {% endfor %}

        </table>
        总价 Total：{{ order.price }} 元<br>
        <input type="radio" name="meal" value="lunch"/> 午餐|lunch（上午10点截单）
        <input type="radio" name="meal" value="dinner"/> 晚餐|dinner（下午4点截单）<br>
        <br>
        <button type="submit" name="confirm" value="{{order.id}}">
            确认无误，提交订单！
        </button>
        <button class="pull-right" type="submit" name="remove_order" value="{{order.id}}">
                        删除
                    </button>
    </form>
</div>
{% endfor %}

{% endblock %}