<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}
<h3>Add new order</h3>
<form action="" method="post" name="order_add">
    <table class="table table-condensed table-hover">
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>price</th>
    </tr>
    </thead>
    {% for food in foods %}
        <tr class="success">
            <td>{{food.id}}</td>
            <td>{{food.name}}</td>
            <td>{{food.price}}</td>
            <td><button type="submit" name="add" value="{{food.id}}" />到碗里来</td>
            <td></td>
        </tr>
    {% endfor %}
    </table>
    </p>
    <input type="radio" name="meal" value="lunch" /> lunch
    <input type="radio" name="meal" value="dinner" /> dinner
    <button type="submit" name="over" value="7963" />我选好了！
</form>
{% endblock %}