<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}
下面是您的订单：
    <table class="table table-hover">
        <thead>
        <tr>
            <th>时间</th>
            <th>价格</th>
            <th>沙拉</th>
        </tr>
        </thead>
        {% for order in orders %}
        <tr class="success">
            <td>{{momentjs(order.timestamp).fromNow()}}</td>
            <td>{{order.price}}</td>
            {% for salad in order.salads %}
            <td>
                {% for food in salad.foods %}
                {{food.name}}
                {% endfor %}
            </td>
            <td>
                <button type="submit" name="remove" value="{{order.id}}" onclick="javaScript:confirm('您确定要删除吗？')"/>取消
            </td>
            {% endfor %}
            <!--<td></td>-->
        </tr>
        {% endfor %}
    </table>
    </p>
{% endblock %}