<!-- extend base layout -->
{% extends "base.html" %}
{% set active_page = "order_add" %}
{% block content %}
{% include 'flash.html' %}
<h3>Add new order</h3>
自选沙拉的标准组合：<br>
1份底菜 + 3种素类 + 2种肉类 = 25元~
<form action="" method="post" name="order_add">
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <!--<th>id</th>-->
            <th>name</th>
            <th>price</th>
        </tr>
        </thead>
        {% for food in foods %}
        <tr class="success">
            <!--<td>{{food.id}}</td>-->
            <td>{{food.name}}</td>
            <td>{{food.price}}</td>
            <td>
                <button type="submit" name="add" value="{{food.id}}"/>
                到碗里来
            </td>
        </tr>
        {% endfor %}
    </table>
    下面是新品尝鲜，数量有限，先订先得哦：<br>
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <!--<th>id</th>-->
            <th>name</th>
            <th>price</th>
        </tr>
        </thead>
        {% for food in foods_new %}
        <tr class="success">
            <!--<td>{{food.id}}</td>-->
            <td>{{food.name}}</td>
            <td>{{food.price}}</td>
            <td>
                <button type="submit" name="add" value="{{food.id}}"/>
                到碗里来
            </td>
        </tr>
        {% endfor %}
    </table>
    </p>
    <button type="submit" name="over" value="7963"/>
    我选好了！
</form>
{% endblock %}