<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}
<h3>Sign up for Weat!</h3>
<div class="well">
<form action="" method="post" name="signup">
    {{ form.hidden_tag() }}
    <p>
        group :<br>
        {{ form.group }}
        <br>
        nickname:<br>
        {{ form.nickname(size=20) }}
        {% for error in form.nickname.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
        floor:<br>
        {{ form.floor}}
        {% for error in form.floor.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
    </p>
    <p><input type="submit" value="Sign Up!"></p>
</form>
    </div>
{% endblock %}
